{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Analyze images using Azure AI Vision</h1>
    <form id="uploadForm" enctype="multipart/form-data" class="mb-4">
        <div class="form-group">
            <label for="image">Select Image</label>
            <input type="file" class="form-control-file" id="image" name="image" accept="image/*" required>
            <div class="invalid-feedback">Please select an image.</div>
        </div>
        <div class="form-group">
            <label>Select Option</label><br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="option1" value="1" required>
                <label class="form-check-label" for="option1">Get captions</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="option2" value="2">
                <label class="form-check-label" for="option2">Get dense captions</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="option3" value="3">
                <label class="form-check-label" for="option3">Get tags</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="option4" value="4">
                <label class="form-check-label" for="option4">Get objects</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="option5" value="5">
                <label class="form-check-label" for="option5">Get people</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="option" id="option6" value="6">
                <label class="form-check-label" for="option6">Get text</label>
            </div>
            <div class="invalid-feedback" id="optionError">Please select an option.</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" id="clearButton" class="btn btn-secondary">Clear</button>
        <a href="/" class="btn btn-info">Go to Index</a>
    </form>

    <!-- Modal for loading overlay -->
    <div class="modal" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <p class="mt-2">Processing...</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Div for outputs -->
    <div class="row">
        <div class="col-md-6">
            <h2>Processed Image</h2>
            <img id="resultImage" src="" alt="Processed Image" class="img-fluid" style="display:none;">
        </div>
        <div class="col-md-6">
            <h2>Image Information</h2>
            <ul id="imageInfoList" class="list-group"></ul>
        </div>
    </div>
</div>

<script>
    // When the form is submitted
    document.getElementById('uploadForm').onsubmit = async function(event) {
        // Prevent the default form submission behavior
        event.preventDefault();
        
        // Get modal element
        let loadingModal = new bootstrap.Modal(document.getElementById('loadingModal'));

        // Show loading modal
        //$('#loadingModal').modal('show');

        // Validate if an image is selected
        let imageInput = document.getElementById('image');
        if (imageInput.files.length === 0) {
            imageInput.classList.add('is-invalid');
            //$('#loadingModal').modal('hide'); // Hide loading modal
            return;
        } 
        else {
            imageInput.classList.remove('is-invalid');
        }

        // Validate if an option is selected
        let selectedOption = document.querySelector('input[name="option"]:checked');
        if (!selectedOption) {
            document.getElementById('optionError').style.display = 'block';
            //$('#loadingModal').modal('hide'); // Hide loading modal
            return;
        } 
        else {
            document.getElementById('optionError').style.display = 'none';
        }

        // Call backend
        try {
            loadingModal.show();

            // Create a new FormData object
            let formData = new FormData();
            
            // Append the selected image file
            formData.append('image', imageInput.files[0]);

            // Append the selected radio button value
            formData.append('option', selectedOption.value);

            // Send the form data to the backend using a POST request
            let response = await fetch('/image-analysis', {
                method: 'POST',
                body: formData
            });

            // If the response is OK (status 200)
            if (response.ok) {
                // Parse the JSON response
                let jsonResponse = await response.json();

                // Create a Blob from the hex-encoded image data
                let binary = new Uint8Array(jsonResponse.image_data.match(/.{1,2}/g).map(byte => parseInt(byte, 16)));
                let blob = new Blob([binary], { type: 'image/jpeg' });

                // Create a URL for the Blob
                let url = URL.createObjectURL(blob);

                // Get the result image element
                let resultImage = document.getElementById('resultImage');

                // Set the source of the result image to the Blob URL
                resultImage.src = url;

                // Make the result image visible
                resultImage.style.display = 'block';

                // Display image information as a list
                let imageInfoList = document.getElementById('imageInfoList');
                imageInfoList.innerHTML = '';  // Clear existing list items

                // Create list items for the image information
                jsonResponse.text_result.forEach((text) => {
                    let imageTextItem = document.createElement('li');
                    
                    imageTextItem.classList.add('list-group-item');
                    imageTextItem.textContent = text;
                    imageInfoList.appendChild(imageTextItem);
                });
            } 
            else {
                // If there was an error
                alert('Image processing failed.');
            }
        }
        catch (e) {
            alert(e)
        }
        finally{
            loadingModal.hide();
        }

        // Hide loading modal regardless of response status
        //$('#loadingModal').modal('hide');
    };

    // When the clear button is clicked
    document.getElementById('clearButton').onclick = function() {
        // Clear the file input
        document.getElementById('image').value = '';
        document.getElementById('image').classList.remove('is-invalid');

        // Clear the selected radio buttons
        let radioButtons = document.querySelectorAll('input[name="option"]');
        radioButtons.forEach(radio => radio.checked = false);
        document.getElementById('optionError').style.display = 'none';

        // Hide the result image
        let resultImage = document.getElementById('resultImage');
        resultImage.style.display = 'none';

        // Clear the image information list
        let imageInfoList = document.getElementById('imageInfoList');
        imageInfoList.innerHTML = '';
    };
</script>
{% endblock %}